<p>
Site name: <%= h @site.name %>
</p>

<div>
  Pages:
  <table id="pagelist">
    <% @site.pages.each do |p| %>
      <%= render :partial => 'pages/page_summary', :object => p %>
    <% end %>
  </table>
</div>

<div>
  <% remote_form_for([@site, Page.new(:site => @site)]) do |f| %>
    Add a page named: <%= f.text_field :name %>
    <%= f.submit 'Add' %>
  <% end %>
</div>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
